////////////////////////
// font
$body-font-family: 'Source Sans Pro', sans-serif;
$font-size-root: 16px;

////////////////////////
// table
$data-table-scroll-bar-width: 17px;
$data-table-regular-row-height: 50px;
$data-table-regular-header-height: 40px;
$data-table-dense-row-height: 32px;
$data-table-dense-header-height: 32px;