@import '~vuetify/src/styles/styles.sass';


////////////////////////
// font
$body-font-family: 'Source Sans Pro', sans-serif;
$font-size-root: 16px;


////////////////////////
// color
$test: black;

