

.v-toolbar {
  box-shadow: none;
}


////////////////////////
// page
.theme--light.v-application {
  background-color: white;
}

////////////////////////
// table
.v-data-table-header th {
  border-bottom-color: black;
}